root = true

[*]
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[{*.{ts, js}}]
indent_size = 4

[{*.{json, toml, yml, yaml, html, css, svelte}}]
indent_size = 2
